.input-wrapper {
  margin: 3.5rem;
  color: black;
}
.todos-wrapper {
  margin-bottom: 2.5rem;
}
.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
input {
  width: 450px;
  padding: 0.8em;
}
input:focus {
  outline: none;
}
button {
  width: 120px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
input,
button {
  margin-left: 10px;
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 1px solid #828691;
}
.add-button {
  color: #007155;
  border-left: none;
}
.delete-button {
  margin-left: 10px;
  color: #fe6a6a;
  border-color: #007155;
}
ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}
li {
  width: 450px;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #007155;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #cf972e;
  color: white;
}
li:last-child {
  margin-bottom: 0px;
}
.empty {
  font-size: 20px;
  font-weight: 400;
  color: #cf972e;
  letter-spacing: 0.2rem;
}
